:root{
    /* Color Palate */
    --aqua: #85FFC7;
    --myrtle: #85FFC7;
    --coral: #FF8552;
    --dark-coral: #b85830;
    --light-coral: #FF9b70;
    --platinum: #E6E6E6;
    --jet: #39393A;
    --light-jet: #8b8b92;
    --dark-moon-stone: #2C3E77;
    --darker-moon-stone: #1c284e;

    /* Color -> Element */
    --footer-background-color: var(--light-jet);
}

footer{
    display: flex;
    background-color: var(--footer-background-color);
    height: 100px;
    justify-content: space-between;
    bottom: 0px;
    position: relative;
}
 footer #contactGrid{
    display: inline-grid;
    max-width: 50%;
    grid-template-rows: repeat(2, 0.5fr);
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    justify-self: right;
    justify-content: right;
 }

 #siteCreatedBy{
    display: inline;
    align-self: flex-end;
    font-style: italic;
    font-size: 14pt;

 }

 #siteCreatedBy>#danielBierman{
    font-weight: bold;
    color: var(--dark-moon-stone);

 }

 #siteCreatedBy>#danielBierman:hover{
    color: var(--darker-moon-stone);
 }