:root{
    /* Color Palate */
    --aqua: #85FFC7;
    --myrtle: #85FFC7;
    --coral: #FF8552;
    --dark-coral: #b85830;
    --light-coral: #FF9b70;
    --platinum: #E6E6E6;
    --jet: #39393A;
    --light-jet: #8b8b92;

    /* Color -> Element */
    --footer-background-color: var(--light-jet);
}

footer{
    display: flex;
    background-color: var(--footer-background-color);
    max-height: 100px;
    justify-content: space-between;
    align-items: center;
    bottom: 0px;
    position: relative;
}
 footer #contactGrid{
    display: inline-grid;
    max-width: 50%;
    height: 60%;
    grid-template-rows: repeat(2, 50px);
    grid-template-columns: repeat(2, 200px);
    position: relative;
    justify-self: right;
    justify-content: right;
 }

 #siteCreatedBy{
    display: inline;

 }