:root{
    --mint-creme: #EEF4ED;
    --powder-blue: #8DA9C4;
    --oxford-blue: #0B2545;
    --berkely-blue: #13315C;
    --yale-blue: #134074;
}

html{
    height: 100%;
}

body{
    padding-left: 10px;
    font-family: "Roboto";

    background-image: linear-gradient(var(--mint-creme), var(--powder-blue));
}
body .textfield input{
    height: 30px;
}
.textfield label, .checkbox label{
    color: var(--berkely-blue);
}
h1{
    font-family: "Anton";
    letter-spacing: 1px;

    padding-left: 10px;

    color: var(--oxford-blue);
}

#registrationForm{
    display: flex;
    flex-direction: column;
}

.textfield{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 20px;
    color: white;
}


#buttonContainer{
    display: flex;
    justify-content: center;
}

#signUp{
    background-color: var(--yale-blue);
    border: 2px solid var(--berkely-blue);
}

#reset{
    background-color: rgb(217, 22, 22);
    border: 2px solid rgb(158, 16, 16);
}

.message{
    color: red;
}

button:hover{
    color: grey;
}