#login-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.error{
    border: solid red 3px;
}

.error-message{
    color: red;
}

#login-title-container{
    width: 200px;
}

#email-container{
    width: 200px;
}

#pass-container{
    width: 200px;
}

#login-buttons{
    width: 200px;
}