:root{
  --margin-padding: 9%;
}

html{
    height: 100%;
}

body{
    height: 100%;
}

/* styling paper */
#paper {
  /* width: 600px; */
  height: 100%;
  position: relative;
  /* margin: 20px auto; */
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(248, 248, 243);
  box-shadow: 0px 0px 5px 0px #888;
}
  
  /* styling margin red vertical line */
#paper::before {
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 8%;
  background-color: rgba(255,0,0,0.6);
}
  
  /* styling blue horizontal lines */
#pattern {
  height: 100%;
  background-image: repeating-linear-gradient(rgb(248, 248, 243) 0px, rgb(248, 248, 243) 49px, teal 50px);
}
  
/* styling text content */
.content {
  padding-top: 6px;
  padding-left: 10%;
  padding-right: 16px;
  /* padding-bottom: 6px; */
  /* line-height: 10px; */
  font-size: 19px;
  letter-spacing: 1px;
  word-spacing: 5px;
}

#title{
  padding-left: var(--margin-padding);
  padding-top: 1px;
  }

#title h1{
  margin-top: 12px;
  margin-bottom: 0px;
}

/* ToDo Items */

.ToDo-item{
  padding-left: var(--margin-padding);
  padding-right: calc(var(--margin-padding) / 2);

  height: 50px;

  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.ToDo-item-title{
  font-size: 120%;
}

.ToDo-item-tags{
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
}

.tag{
  margin: 5px;
}

input[type="checkbox"]{
  height: 20px;
  width: 20px;
}

.checkbox{
  margin-right: 5%;
}