:root{
    --light-jet: #8b8b92;
    --jet: #39393A;
}

#main{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr auto;
    grid-template-columns: 1fr 3fr 1fr;
}

@media screen and (max-width: 768px) {
    #main{
        display: flex;
        flex-direction: column;
    }
}

nav{
    grid-row: 1/5;
    grid-column: 1/2;
}

#courses-header{
    grid-row: 1/2;
    grid-column: 2/3;

    font-size: 1.5em;

    height: 70%;

    padding-left: 10px;

}

#search-bar{
    grid-row: 2/3;
    grid-column: 2/3;

    display: flex;
    justify-content: center;

    width: 100%;

    padding-left: 10px;

    text-align: center;

}

#search-bar>input{
    width: 70%;
}

#search-bar>button{
    width: 30%;
}

#ac-logo-container{
    grid-row: 1/3;
    grid-column: 3/4;

    align-items: center;
    justify-content: center;
    display: flex;
}

#ac-logo{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#course-element-header{
    grid-row: 3/4;
    grid-column: 2/4;

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 10px;
    border-top: 2px solid var(--jet);
    border-bottom: 2px solid var(--jet);

}

#course-element-header>*{
    flex-grow: 1;
    border-right: 2px solid var(--light-jet);
    text-align: center;

    display: inline;

}

#hours-header{
    border-right: none;
}

#course-info-header{
    flex-grow: 2;
}

.level-button{
    margin: 2px;
}

.course-level.active{
    display: none;
}

.level-header{
    display: flex;
    justify-content: space-between;

    padding-left: 10px;
    padding-right: 10px;
}

#course-elements{
    grid-row: 4/5;
    grid-column: 2/4;
    align-items: center;
}

#course-elements .course-element{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;

    border-bottom: 2px solid var(--light-jet);

    padding-bottom: 10px;
}


.course-element>*{
    flex-grow: 1;
    display: block;
    text-align: center;
    
    border-right: 2px solid var(--light-jet);

    margin: 2px;
}

.course-element-level{
    grid-column: 1/2;
}

.course-element-code{
    grid-column: 2/3;
}

.course-element-desc{
    grid-column: 3/4;
    border-right: none;

    overflow: hidden;
}

.more{
    display: none;
}

.less{
    display: inline;
}

.more.active{
    display: inline;
}

.read-more{
    display: block;
}

.course-element-hours{
    grid-column: 4/5;

    border-left: 2px solid var(--light-jet);
}

#disclaimer{
    padding-left: 10px;
}

.top-course{
    border-top: 2px solid var(--light-jet);
}
