:root{
    /* Color Palate */
    --aqua: #85FFC7;
    --myrtle: #85FFC7;
    --coral: #FF8552;
    --dark-coral: #b85830;
    --light-coral: #FF9b70;
    --platinum: #E6E6E6;
    --jet: #39393A;
    --light-jet: #8b8b92;
    --dark-moon-stone: #2C3E77;
    --darker-moon-stone: #1c284e;

    /* Color -> Element */
    --footer-background-color: var(--light-jet);
}

footer{
    display: grid;

    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr 2fr; 

    background-color: var(--footer-background-color);
    justify-content: space-between;
    bottom: 0px;
    position: relative;
}
 footer #contactGrid{
   grid-row: 1/2;
   grid-column: 3/4;

    display: inline-grid;
    grid-template-rows: repeat(2, 0.5fr);
    grid-template-columns: repeat(2, 1fr);
    position: relative;
 }

 #siteCreatedBy{
    display: inline;
    align-self: flex-end;
    font-style: italic;
    font-size: 14pt;

    grid-row: 1/2;
    grid-column: 1/2;
 }

 #siteCreatedBy>#danielBierman{
    font-weight: bold;
    color: var(--dark-moon-stone);

 }

 #siteCreatedBy>#danielBierman:hover{
    color: var(--darker-moon-stone);
 }