:root{
    --jet: #39393A;
    --light-jet: #8b8b92;
    --light-algonquin-green: #66A18D;
    --algonquin-green: #006341;
    --dark-algonquin-green: #003328;
    --light-moon-stone: #A3CBE1;
    --marian-blue: #2C3E77;
}

#main-grid{
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 2fr;
    grid-template-rows: auto auto auto 1fr 1fr 1fr auto auto;
}

@media screen and (max-width: 768px) {
    #main-grid{
        display: flex;
        flex-direction: column;
    }

    #pf-content{
        flex-wrap: wrap;
    }

    #portfolio-featured{
        display: flex !important;
        flex-direction: column;
    }
}

nav{
    grid-row-start: 1;
    grid-row-end: 9;

    grid-column-start: 1;
    grid-column-end: 2;
}

#aboutMe-header{
    display: flex;

    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start: 2;
    grid-column-end: 4;

    max-height: 100px;

    padding-left: 10px;

    border-style: solid;
    border: 0px;
    border-bottom: 20px;
    border-color: black;

    justify-content: center;
}

#aboutMe-header>h1{
    font-family: 'Protest Strike';
    font-size: 150%;
    letter-spacing: 1px;
}

#daniel-picture-section{
    grid-row-start: 2;
    grid-row-end: 4;

    grid-column-start: 4;
    grid-column-end: 5;

    background-color: var(--light-jet);
    max-height: auto;

    display: flex;

    padding: 5px;
}

#daniel-picture{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;

}

#main-text{
    grid-row-start: 2;
    grid-row-end: 5;

    grid-column-start: 2;
    grid-column-end: 4;

    padding: 10px;
}

#portfolio-featured{
    grid-row-start: 5;
    grid-row-end: 7;

    grid-column-start: 2;
    grid-column-end: 5;
    background-color: var(--light-moon-stone);

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 2fr 7fr 1fr;

    border: 2px solid var(--marian-blue);

    margin: 2px;
}

#pf-title{
    grid-row: 1/2;
    grid-column: 1/2;

    padding-left: 10px;
}

#pf-content{
    grid-row: 2/3;
    grid-column: 1/2;

    display: flex;
}

.pf-element{
    border: solid var(--light-jet) 2px;
    margin: 5px;
}

.pf-element-title{
    text-align: center;
}

.pf-thumbnail-container{
    padding: 20px;
}

.pf-thumbnail{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#pf-link{
    grid-row: 3/4;
    grid-column: 1/2;

    text-align: right;
    padding-right: 10px;
}



#algonquin-courses{
    grid-row-start: 7;
    grid-row-end: 9;

    grid-column-start: 2;
    grid-column-end: 5;
    background-color: var(--light-algonquin-green);
    border: 2px solid var(--algonquin-green);

    margin: 2px;
    
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;

    padding-bottom: 10px;
}

#algonquin-banner-container{
    grid-row: 1/2;
    grid-column: 1/2;
}

#algonquin-banner{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#algonquin-banner:hover{
    border: 2px solid var(--dark-algonquin-green);
}

#course-title{
    grid-row: 1/2;
    grid-column: 2/3;

    text-align: center;
    font-size: 1.2em;
    font-family: 'Protest Strike';
    letter-spacing: 1px;
    text-decoration: none;
}

#course-title a{
    text-decoration: none;
    color: var(--dark-algonquin-green);
}

#course-title a:hover{
    text-decoration: underline;
}

#course-desc{
    grid-row: 2/3;
    grid-column: 1/3;

    padding-left: 10px;

    font-size: 1em;

    max-height: 100px;
}

#course-list{
    grid-row: 3/4;
    grid-column: 1/3;

    padding-left: 10px;
    padding-right: 50px;

    display: flex;
    text-align: right;
    align-items: center;
}

#algonquin-courses-icon{
    display: flex;
    margin-right: 10px;
    margin-left: 10px;

    width: 50px;
    height: 50px;
}


