:root{
    /* Color Palate */
    --aqua: #85FFC7;
    --myrtle: #85FFC7;
    --coral: #FF8552;
    --dark-coral: #b85830;
    --light-coral: #FF9b70;
    --platinum: #E6E6E6;
    --jet: #39393A;
    --light-jet: #8b8b92;
    --marian-blue: #2C3E77;
    --light-moon-stone: #A3CBE1;
    --light-algonquin-green: #66A18D;
    --algonquin-green: #006341;
    --dark-algonquin-green: #003328;

    /* Color -> Element */
    --bottom-border-color: var(--marian-blue);
}
#main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
}

nav{
    grid-row: 1/7;
    grid-column: 1/2;
}

@media screen and (max-width: 768px) {
    #main{
        display: flex;
        flex-direction: column;
    }
}

#resume-header{
    grid-row: 1/2;
    grid-column: 2/3;

    font-size: 2em;
    
    border-bottom: 2px solid var(--bottom-border-color);
    padding-left: 10px;
}

#resume-header h1{
    margin-bottom: 0;
}

#daniel-picture-container{
    grid-row: 1/3;
    grid-column: 3/4;
}

#daniel-picture{
    max-width: 98%;
    max-height: 100%;
    object-fit: contain;

    border: 5px solid var(--light-jet);
}

#contactGrid{
    grid-row: 2/3;
    grid-column: 2/3;

    display: grid;
    grid-template-rows: repeat(2, 0.5fr);
    grid-template-columns: repeat(2, 1fr);
    position: relative;

    border-bottom: 2px solid var(--bottom-border-color);

    padding-left: 10px;
}

#contactGrid #contact-me{
    font-size: 1.5em;
    font-weight: bold;
}

#education{
    grid-row: 3/4;
    grid-column: 2/4;
}

#algonquin-courses{
    grid-row-start: 7;
    grid-row-end: 9;

    grid-column-start: 2;
    grid-column-end: 5;
    background-color: var(--light-algonquin-green);
    
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;

    padding-bottom: 10px;
    margin: 2px;

    border: 2px solid var(--algonquin-green);
}

#algonquin-banner-container{
    grid-row: 1/2;
    grid-column: 1/2;
}

#algonquin-banner{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#algonquin-banner:hover{
    border: 2px solid var(--dark-algonquin-green);
}

#course-title{
    grid-row: 1/2;
    grid-column: 2/3;

    text-align: center;
    font-size: 1.2em;
    font-family: 'Protest Strike';
    letter-spacing: 1px;
    text-decoration: none;
}

#course-title a{
    text-decoration: none;
    color: var(--dark-algonquin-green);
}

#course-title a:hover{
    text-decoration: underline;
}

#course-desc{
    grid-row: 2/3;
    grid-column: 1/3;

    padding-left: 10px;

    font-size: 1em;

    max-height: 100px;
}

#course-list{
    grid-row: 3/4;
    grid-column: 1/3;

    padding-left: 10px;
    padding-right: 50px;

    display: flex;
    text-align: right;
    align-items: center;
}

#algonquin-courses-icon{
    display: flex;
    margin-right: 10px;
    margin-left: 10px;

    width: 50px;
    height: 50px;
}

#experience{
    grid-row: 4/5;
    grid-column: 2/4;

    padding-left: 10px;
}

#experience>h1, #skills>h1{
    font-size: 2em;
}

.job-desc>ul>li{
    margin: 5px;
}

#skills{
    grid-row: 5/6;
    grid-column: 2/4;

    padding-left: 10px;
}

#portfolio-featured{
    grid-row: 6/7;
    grid-column: 2/4;

    grid-column-start: 2;
    grid-column-end: 5;
    background-color: var(--light-moon-stone);

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 2fr 7fr 1fr;

    border: 2px solid var(--marian-blue);
}

#pf-title{
    grid-row: 1/2;
    grid-column: 1/2;

    padding-left: 10px;
}

#pf-content{
    grid-row: 2/3;
    grid-column: 1/2;

    display: flex;
}

.pf-element{
    border: solid var(--light-jet) 2px;
    margin: 5px;
}

.pf-element-title{
    text-align: center;
}

.pf-thumbnail-container{
    padding: 20px;
}

.pf-thumbnail{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#pf-link{
    grid-row: 3/4;
    grid-column: 1/2;

    text-align: right;

    padding-right: 10px;
}